[submodule "client"]
	path = client
	url = https://github.com/arthurGuillemin/GomiFrontend.git
[submodule "server"]
	path = server
	url = https://github.com/arthurGuillemin/GomiBackend
[submodule "AI/ai-recipeV2"]
	path = AI/ai-recipeV2
	url = https://huggingface.co/spaces/ankz22/Fridge_recipe_app2
[submodule "AI/ai-trie"]
	path = AI/ai-trie
	url = https://huggingface.co/spaces/ankz22/trash-classifier
[submodule "AI/ai-recipe-Ollama"]
	path = AI/ai-recipe-Ollama
	url = https://github.com/gladiaaa/RecipeMakerIA.git
